input, select {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input:-moz-placeholder {
  color: #ccc;
}

.banner {
  width: 100%;
  font-size: 0;
}
.banner img {
  max-width: 100%;
}

.success {
  padding: 50px 10px 20px;
  text-align: center;
}
.success h3 {
  padding-top: 16px;
}
.success .lines {
  padding: 10px 0 24px;
  position: relative;
}
.success .lines:after {
  content: "";
  height: 0;
  border-bottom: 1px solid #e8e8e8;
  width: 220px;
  display: block;
  bottom: 5px;
  position: absolute;
  left: 50%;
  margin-left: -110px;
}
.success h1 {
  line-height: 24px;
  padding: 24px 0 12px;
  color: #4c4c4c;
  font-size: 16px;
}
.success h1 img {
  padding-right: 8px;
  vertical-align: middle;
}
