/* item arrow */
.pbox {
  padding: 16px;
}

.fb, .headChoose ul {
  display: -webkit-box;
}

.fbl {
  -webkit-box-flex: 1;
}

.headChoose {
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.headChoose ul li {
  width: 33.33%;
  text-align: center;
  line-height: 32px;
  box-sizing: border-box;
  border: 1px solid #ff7f2f;
  border-right: 0;
  color: #ff7f2f;
  position: relative;
}
.headChoose ul li:first-child {
  border-radius: 10px 0 0 10px;
}
.headChoose ul li:last-child {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid #ff7f2f;
}
.headChoose ul li.active {
  color: white;
  background: #ff7f2f;
}

/* item arrow */
.redbag {
  display: none;
  line-height: 20px;
  color: #ff7f2f;
  font-size: 10px;
  padding: 5px 10px;
  background: #e8e8e8;
}
.redbag img {
  height: 20px;
  vertical-align: top;
}

input {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #989898;
}

input:-moz-placeholder {
  color: #989898;
}

.arrow {
  position: relative;
}
.arrow:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  right: 3px;
  top: 50%;
  margin-top: -7px;
  background-image: url("../images/icon-right.png");
  background-size: contain;
}

/* box size */
.boxsizing, .itemInput input {
  box-sizing: border-box;
}

.itemInput {
  position: relative;
  height: 48px;
  border-bottom: #e6e6e6 1px solid;
  display: -webkit-box;
}
.itemInput.arrow {
  padding-right: 30px;
}
.itemInput .key {
  width: 72px;
  color: #989898;
  font-size: 14px;
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-align: center;
}
.itemInput .value {
  -webkit-box-flex: 1;
}
.itemInput .value .icon {
  width: 24px;
  vertical-align: middle;
}
.itemInput .dir {
  width: 44px;
  height: 48px;
  line-height: 48px;
  position: relative;
  display: block;
}
.itemInput .dir img {
  vertical-align: top;
  position: relative;
  height: 32px;
  width: 32px;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
.itemInput input {
  padding: 0 10px;
  height: 48px;
  width: 100%;
}
.itemInput .input {
  height: 48px;
  line-height: 48px;
  color: #A9A9A9;
}

/* box layout */
.flex-box {
  display: -webkit-box;
}

/* btn */
.action {
  padding: 32px 16px 24px;
}
.action .btn {
  color: white;
}
.action .btn-next {
  background: #ff7e2e;
}
.action .btn-prev {
  margin-top: 8px;
  background: #ffb718;
}
.action .disabled {
  background: #A9A9A9;
}
.action p {
  padding-top: 10px;
}

.sendPrvice .top .right .action .btn {
  border-radius: 0;
}

.resultBox {
  padding: 0 16px;
  background: white;
}
.resultBox dl {
  padding-bottom: 20px;
}
.resultBox dl dt {
  border-bottom: #e6e6e6 1px solid;
  padding: 10px 0;
}
.resultBox dl .ac.body2 {
  padding-top: 20px;
}

.items {
  padding: 8px 0;
}

.pinfo {
  padding-bottom: 88px;
}
.pinfo .items {
  padding: 0px;
}

.itemInput.privceItem {
  padding: 0 20px 0 25px;
  position: relative;
}
.itemInput.privceItem .itemGo {
  display: -webkit-box;
  -webkit-box-flex: 1;
  padding-left: 80px;
  position: relative;
}
.itemInput.privceItem .choose {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 25px;
}
.itemInput.privceItem .choose input[type=radio], .itemInput.privceItem .choose .radio {
  padding: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/radio-uncheck.png");
  background-size: contain;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
.itemInput.privceItem .choose input[type=radio]:checked, .itemInput.privceItem .choose input[type=radio].active, .itemInput.privceItem .choose .radio:checked, .itemInput.privceItem .choose .radio.active {
  background-image: url("../images/radio-checked.png");
}
.itemInput.privceItem .pics {
  width: 80px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.itemInput.privceItem .pics img {
  width: 100%;
  height: 30px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
}
.itemInput.privceItem .dirs {
  display: -webkit-box;
  -webkit-box-flex: 1;
  padding-top: 5px;
  padding-left: 5px;
}
.itemInput.privceItem .dirs p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.itemInput.privceItem .dirs .itn {
  width: 40%;
  box-sizing: border-box;
  padding: 0 5px;
}
.itemInput.privceItem .dirs .itp {
  width: 60%;
  text-align: right;
  -webkit-box-flex: 1;
}
.itemInput.privceItem .dirs .itp, .itemInput.privceItem .dirs .itn {
  line-height: 40px;
  overflow: hidden;
  height: 40px;
}
.itemInput.privceItem .dirs .left {
  width: 65%;
  box-sizing: border-box;
  padding: 0 5px;
}
.itemInput.privceItem .dirs .right {
  width: 35%;
  text-align: right;
  -webkit-box-flex: 1;
}

.sendPrvice {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 24px 0px #ababab;
}
.sendPrvice .top {
  background: white;
  height: 56px;
  display: -webkit-box;
}
.sendPrvice .top .left {
  background: #4c4c4c;
  width: 40%;
}
.sendPrvice .top .left .box {
  padding: 8px 5px 0 24px;
}
.sendPrvice .top .left .box .price {
  font-size: 15px;
  color: #ff7f2f;
  line-height: 24px;
}
.sendPrvice .top .right {
  -webkit-box-flex: 1;
  width: 60%;
}
.sendPrvice .top .right .action {
  padding: 0;
}
.sendPrvice .top .right .btn {
  line-height: 56px;
  height: 56px;
}
.sendPrvice .bottom {
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  text-align: center;
  background: #e8e8e8;
  color: #989898;
  font-size: 12px;
}
