/* item arrow */
.redbag {
  display: none;
  line-height: 20px;
  color: #ff7f2f;
  font-size: 10px;
  padding: 5px 10px;
  background: #e8e8e8;
}
.redbag img {
  height: 20px;
  vertical-align: top;
}

input {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #989898;
}

input:-moz-placeholder {
  color: #989898;
}

.arrow {
  position: relative;
}
.arrow:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  right: 3px;
  top: 50%;
  margin-top: -7px;
  background-image: url("../images/icon-right.png");
  background-size: contain;
}

/* box size */
.boxsizing, .itemInput input {
  box-sizing: border-box;
}

.itemInput {
  position: relative;
  height: 48px;
  border-bottom: #e6e6e6 1px solid;
  display: -webkit-box;
}
.itemInput.arrow {
  padding-right: 30px;
}
.itemInput .key {
  width: 72px;
  color: #989898;
  font-size: 14px;
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-align: center;
}
.itemInput .value {
  -webkit-box-flex: 1;
}
.itemInput .value .icon {
  width: 24px;
  vertical-align: middle;
}
.itemInput .dir {
  width: 44px;
  height: 48px;
  line-height: 48px;
  position: relative;
  display: block;
}
.itemInput .dir img {
  vertical-align: top;
  position: relative;
  height: 32px;
  width: 32px;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
.itemInput input {
  padding: 0 10px;
  height: 48px;
  width: 100%;
}
.itemInput .input {
  height: 48px;
  line-height: 48px;
  color: #A9A9A9;
}

/* box layout */
.flex-box {
  display: -webkit-box;
}

/* btn */
.action {
  padding: 32px 16px 24px;
}
.action .btn {
  color: white;
}
.action .btn-next {
  background: #ff7e2e;
}
.action .btn-prev {
  margin-top: 8px;
  background: #ffb718;
}
.action .disabled {
  background: #A9A9A9;
}
.action p {
  padding-top: 10px;
}

.sendPrvice .top .right .action .btn {
  border-radius: 0;
}

.insurfo {
  padding: 10px 24px 10px 114px;
  display: -webkit-box;
  position: relative;
  background: #4c4c4c;
}
.insurfo .body1 {
  color: white;
}
.insurfo .pics {
  width: 90px;
  position: absolute;
  top: 50%;
  height: 30px;
  left: 24px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.insurfo .pics img {
  width: 80px;
  height: 30px;
}
.insurfo .infos {
  -webkit-box-flex: 1;
}

.items {
  padding: 0 16px;
  background-color: white;
}

.item_info .itemInput:last-child {
  border: none;
}

.itemH {
  background: #f1f1f1;
}
.itemH .itemInput {
  height: 40px;
  line-height: 40px;
}
.itemH .itemInput .key {
  height: 40px;
}
.itemH .itemInput .value {
  height: 40px;
  text-align: right;
}

.orderInfo {
  padding: 10px 16px;
}
.orderInfo h3 {
  line-height: 24px;
  font-size: 15px;
  color: #4c4c4c;
}
.orderInfo p {
  line-height: 18px;
  font-size: 14px;
  color: #989898;
}

.item_info .key {
  width: auto;
  color: #4c4c4c;
}
.item_info .value {
  line-height: 48px;
  text-align: right;
}
.item_info .f_org {
  color: #ff7e2e;
}

.items_h {
  background: #FFF2E1;
}
.items_h .itemInput {
  height: 40px;
  border: none;
}
.items_h .itemInput .atc, .items_h .itemInput .ifos, .items_h .itemInput .pri {
  line-height: 40px;
}
.items_h .itemInput .key, .items_h .itemInput .val {
  height: 40px;
  line-height: 40px;
}

.reUpload {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  z-index: 1;
}
.reUpload .content {
  position: absolute;
  width: 254px;
  left: 50%;
  top: 50%;
  height: 310px;
  margin-top: -155px;
  margin-left: -127px;
  background: #ffffff;
  padding: 4px;
  border-radius: 10px;
  box-sizing: border-box;
}
.reUpload .content .imgBox {
  width: 100%;
  height: 240px;
  padding: 5px 0;
  background-color: #f1f1f1;
  position: relative;
}
.reUpload .content .imgBox img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.reUpload .content .action {
  padding: 5px 42px 12px;
}
.reUpload .content .action .btn {
  border-radius: 36px;
  height: 36px;
  line-height: 36px;
  color: #ff7e2e;
  border: 1px solid #ff7e2e;
}

.cardInfotips {
  padding: 0;
  border-bottom: #e6e6e6 1px solid;
}

.cardInfoBody {
  background: white;
}

.tips {
  padding: 6px 16px;
  font-size: 12px;
  color: #4c4c4c;
  line-height: 20px;
  text-align: center;
  background-color: #f1f1f1;
}

.atc,
.ifos,
.pri {
  line-height: 48px;
  overflow: hidden;
}

.ifo {
  line-height: 16px;
  overflow: hidden;
  padding-top: 10px;
}

.atc {
  width: 22%;
}

.ifos,
.ifo {
  width: 45%;
  text-align: center;
}

.pri {
  text-align: right;
  width: 35%;
}

.val {
  line-height: 48px;
  padding-left: 24px;
  overflow: hidden;
}

.redbag {
  border-top: 1px solid white;
}

.fb, .hbloding, .hberror {
  display: -webkit-box;
}

.fbl, .pri, .val, .hbloding .right, .hberror .right {
  -webkit-box-flex: 1;
}

.itemInput .f_bk {
  color: #4c4c4c;
}

.itemInput .f_dk {
  color: #989898;
}

.hbloding {
  padding: 0 10px;
  background: #4c4c4c;
  height: 56px;
}
.hbloding .left {
  width: 45px;
  text-align: center;
  line-height: 56px;
}
.hbloding .left img {
  height: 32px;
  width: 32px;
  vertical-align: middle;
}
.hbloding .right {
  padding-top: 12px;
}
.hbloding .right h3 {
  font-size: 14px;
  color: white;
  line-height: 20px;
}
.hbloding .right h3 span {
  color: #ff7f2f;
}

.hberror {
  padding: 0 16px;
  background: #ff7f2f;
  height: 96px;
}
.hberror .left {
  width: 80px;
  text-align: center;
  line-height: 96px;
}
.hberror .left img {
  height: 66px;
  width: 66px;
  vertical-align: middle;
}
.hberror .right {
  padding-top: 20px;
  padding-left: 5px;
}
.hberror .right h3 {
  font-size: 18px;
  color: white;
  line-height: 24px;
}
.hberror .right p {
  color: yellow;
  line-height: 16px;
}

.hberrtip p {
  padding: 15px 0;
  border-bottom: #e6e6e6 1px solid;
}
.hberrtip .action {
  padding: 15px 0;
}

.sendPrvice {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 24px 0px #ababab;
}
.sendPrvice .top {
  background: #4c4c4c;
  height: 56px;
  display: -webkit-box;
}
.sendPrvice .top .left {
  -webkit-box-flex: 1;
}
.sendPrvice .top .left .box {
  padding: 8px 5px 0 24px;
}
.sendPrvice .top .left .box .f_12 {
  font-size: 12px;
  color: #989898;
}
.sendPrvice .top .left .box span {
  color: white;
}
.sendPrvice .top .left .box .price {
  font-size: 18px;
  color: #ff7f2f;
  line-height: 24px;
}
.sendPrvice .top .right {
  width: 30%;
}
.sendPrvice .top .right .action {
  padding: 0;
}
.sendPrvice .top .right .action .btn {
  height: 56px;
  line-height: 56px;
}
.sendPrvice .bottom {
  display: none;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  text-align: center;
  background: #e8e8e8;
  color: #ff7f2f;
  font-size: 12px;
}

.orderdetail {
  padding-bottom: 90px;
}
.orderdetail .action {
  padding: 15px 16px 30px;
}

.addressItem {
  padding: 10px 0;
  height: auto;
}
.addressItem .key {
  height: auto;
}
.addressItem .value {
  word-wrap: break-word;
  white-space: normal;
  line-height: 20px;
  color: #4c4c4c;
}

.items_ofs .ifos, .items_ofs .ifo {
  width: auto;
  text-align: left;
  -webkit-box-flex: 1;
  padding-left: 24px;
}
